div.modal {
    position: fixed;
    top: 5%;
    left: 50%;
    z-index: 1050;
    width: 80%;
    margin-left: -40%;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: none;
}

@media (max-width: 767px) {
    div.modal {
        position: fixed;
        top: 20px;
        left: 20px;
        right: 20px;
        width: auto;
        margin: 0;
    }
    div.modal.fade {
        top: -100px;
    }
    div.modal.fade.in {
        top: 20px;
    }
}
@media (max-width: 480px) {
    div.modal {
        top: 10px;
        left: 10px;
        right: 10px;
    }
}


.zo2-row::before, .zo2-row::after {
    content: " ";
    display: table;
}
.zo2-row::after {
    clear: both;
}

.zo2-add-new-row {margin-left: 15px;}